.page.accounts {
  margin-top: -5.5rem;
}

.form-controls {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  width: 40%;
}

.view-btn {
  width: 100px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: gray;
  color: whitesmoke;
  border-radius: 0.25rem;
}

.view-btn:hover {
  cursor: pointer;
  background-color: #1e90ff;
}

.view-btn.active {
  width: 150px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: blueviolet;
}

.form {
  background-color: antiquewhite;
  color: black;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 1.5rem;
  margin: 2rem auto 0;
  width: 53%;
}

.form.login {
  width: 43%;
}

.form-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.form-input-group {
  margin-bottom: 1rem;
}

.form-group {
  display: grid;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-group.join {
  grid-template-columns: 1fr 1.5fr 0.25fr;
}

.form-group.login {
  grid-template-columns: 0.5fr 1fr 0.25fr;
}

.form-group label {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

.form-group input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
}

.form-group input:focus {
  border: 1px solid #1e90ff;
}

.error-box {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.error {
  margin: 0.25rem auto;
}

.pw-btn .icon {
  font-size: 2.5rem;
}
